.header {
   background-color: $light-blue;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 32px;
   border-radius: 20px;
   height: 96vh;

   @media (max-width: 900px) {
      flex-direction: row;
      height: 72px;
      margin-right: 25px;
   }

   @media (max-width: 600px) {
      margin-right: 0;
      border-radius: 0;
      padding: 20px;
   }
   @media (max-width: 460px) {
      padding: 16px;
   }

   &__row {
      display: flex;
      flex-direction: column;
      gap: 75px;

      @media (max-width: 900px) {
         flex-direction: row;
         align-items: center;
      }

      @media (max-width: 460px) {
         gap: 30px;
      }
   }

   & .logo {
      @media (max-width: 600px) {
         width: 25px;
      }
   }
}