.fade-in {
   will-change: transform;
   animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
   will-change: transform;
   animation: fade-out 0.3s ease-out both;
}

.fade-in-left {
   will-change: transform;
   animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-right {
   will-change: transform;
   animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fade-out {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@keyframes fade-in-left {
   0% {
      transform: translateX(-50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes fade-in-right {
   0% {
      transform: translateX(50px);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}
