.user__log-out.hide
   svg(xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20" height="20" viewBox="0 0 96.9 96.9")
      path(d="M61 84H11V13h50l2-2V4l-2-2H2L0 4v89l2 2h59l2-2v-7l-2-2z")
      path(d="M96 47 69 20h-2l-7 7v2l12 13H20c-1 0-2 0-2 2v9c0 2 1 2 2 2h52L60 68v2l7 7a2 2 0 0 0 2 0l27-27a2 2 0 0 0 0-3z")